<header
    class="text-base font-semibold items-center box-border flex h-full justify-between leading-4 w-[1250px] mx-auto px-[45px]">
    <a href="/" title="Shidianguji"
        class="bg-[url('https://lf-welfare.amemv.com/obj/douyin-welfare-image/guji/shidian/static/image/home-title.06ddeb4f.png')] bg-no-repeat bg-contain box-border block h-[26px] w-[98px]"></a>
    <div class="items-center box-border flex">
        <div class="text-zinc-900 box-border leading-6 ml-10">
            <div class="relative box-border">
                <div class="box-border">
                    <div class="box-border">APP</div>
                </div>
            </div>
        </div>
        <a href="/" class="box-border block ml-10">首页</a>
        <a href="/about/" class="box-border block ml-10">关于</a>
        <a href="/contact/" class="box-border block ml-10">联系</a>
        <div class="relative items-center box-border flex w-9 ml-10">
            <div class="box-border">
                <img src="https://c.animaapp.com/meqfmvr2qCnX0o/assets/icon-4.svg" alt="Icon"
                    class="text-zinc-900 box-border h-9 w-9" />
            </div>
        </div>
        <div class="relative items-center box-border flex ml-10">
            <div class="text-zinc-900 box-border">
                <img src="https://c.animaapp.com/meqfmvr2qCnX0o/assets/icon-5.svg" alt="Icon"
                    class="box-border h-[31px] w-[29px]" />
            </div>
            <img src="https://c.animaapp.com/meqfmvr2qCnX0o/assets/icon-6.svg" alt="Icon"
                class="text-zinc-900 items-center box-border flex h-4 justify-center w-[17px] z-[2]" />
            <div class="bg-zinc-400 box-border h-5 w-[0.5px] ml-6"></div>
        </div>
        <div class="items-center box-border flex">
            <button type="button"
                class="text-white text-sm items-center bg-orange-400 flex h-[26px] justify-center leading-[14px] text-center ml-7 px-[9.5px] py-1.5 rounded-sm">
                <span class="items-center box-border flex leading-[0px]">Log In</span>
            </button>
        </div>
    </div>
</header>